@page

<!-- Content section with a thank you message and order details -->
<div class="text-center">
    <h2>Thanks!</h2>
    <p>Thanks for placing order #@OrderId</p>
    <p>We'll ship your goods as soon as possible.</p>
    <a class="btn btn-primary" asp-controller="Home">Return to Store</a>
</div>

@functions {
    <!-- Binding property for retrieving the order ID from the query string -->
    [BindProperty(SupportsGet = true)]
    public string? OrderId { get; set; }
}